@import "@/styles/mixins";

.cookies {
  position: fixed;
  z-index: 100;
  left: 15px;
  bottom: 15px;
  width: 100%;
  max-width: rem(400);
  padding: rem(30) rem(30) rem(25);
  border-radius: 15px;
  background: $white;
  transform: translateX(-450px);
  @include transition-slow();

  @media (max-width: $sm-max-width) {
    // max-width: none;
    // width: calc(100% - 30px);
  }
}

.cookiesAnimated {
  transform: translateX(0);
}

.description {
  font-size: rem(16);
}

// dark theme
[data-theme="dark"] {
  .cookies {
    background: darken($dark-gray-3, 15%);
    color: $white;
  }
}
