@import "@/styles/mixins";

.cookies {
  position: fixed;
  z-index: 100;
  left: rem(15);
  bottom: rem(15);
  max-width: rem(400);
  padding: rem(30) rem(30) rem(25);
  border-radius: 15px;
  background: $pastel-1;
  transform: translateX(-450px);
  box-shadow: rgba(0,0,0, 0.01) 0px 0px 1px, rgba(0,0,0, 0.04) 0px 4px 8px, rgba(0,0,0, 0.04) 0px 16px 24px, rgba(0,0,0, 0.01) 0px 24px 32px;
  @include transition-slow();

  @media (max-width: $sm-max-width) {
    right: 15px;
  }
}

.cookiesAnimated {
  transform: translateX(0);
}

.description {
  font-size: rem(16);
}

// dark theme
[data-theme="dark"] {
  .cookies {
    background: darken($dark-gray-3, 15%);
    color: $white;
  }
}
