@import "@/styles/mixins";

.menu {
  height: rem(65);

  :global(.col-4) {
    height: rem(65);
  }

  &Logo {
    svg {
      height: rem(39) !important;
      width: auto !important;
    }

    &Descr {
      font-size: rem(14);
      line-height: 1;
    }
  }

  &Switch {
    svg {
      width: rem(24) !important;
      height: rem(24) !important;
    }
  }

  @media (max-width: $md-max-width) {
    &Switch {
      svg {
        width: rem(26) !important;
        height: rem(26) !important;
      }
    }
  }

  &Icon {
    height: rem(20);
    width: rem(21);
    position: relative;
    cursor: pointer;
    margin-right: rem(10);

    @media (max-width: $md-max-width) {
      &:before {
        top: rem(5) !important;
      }

      &:after {
        top: rem(14) !important;
      }
    }

    &:after,
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: rem(6);
      height: 2px;
      width: 100%;
      border-radius: 3px;
      background: $dark;
      @include transition-fast();
    }

    &:after {
      top: rem(13);
    }

    &:hover {
      &:after,
      &:before {
        background: $blue;
      }
    }
  }
}

.submenu {
  display: flex;
  flex-wrap: wrap;
  padding: rem(20) 0;

  &Link {
    display: flex;
    margin-right: rem(25);
    margin-bottom: rem(10);
    color: $dark;
    white-space: nowrap;

    &:hover {
      svg {
        * {
          fill: $blue;
        }
      }
    }

    svg {
      position: relative;
      top: -1px;
    }

    @media (max-width: $sm-max-width) {
      border: 2px solid $dark;
      margin-right: rem(15);
      font-weight: 700;
      // font-size: rem(18);
      border-radius: 20px;
      padding: 0 rem(10);
    }

    &Width {
      position: relative;

      span:first-child {
        opacity: 0;
        font-weight: 700;
      }

      span:last-child {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
      }
    }

    &:last-child {
      margin-right: rem(0);
    }

    &Active {
      color: $blue;
      font-weight: 700;

      svg {
        * {
          fill: $blue;
        }
      }

      @media (max-width: $sm-max-width) {
        font-weight: 900;
        border-color: $blue;
      }
    }
  }
}

// dark theme
[data-theme="dark"] {
  .menu {
    &Logo {
      svg {
        * {
          fill: $white;
        }
      }
    }

    &Icon {
      &:after,
      &:before {
        background: $blue-light;
      }

      &:hover {
        &:after,
        &:before {
          background: $white;
        }
      }
    }
  }

  .submenu {
    &Link {
      &:hover {
        svg {
          * {
            fill: $white;
          }
        }
      }

      &Active {
        color: $white;
  
        svg {
          * {
            fill: $white;
          }
        }
  
        @media (max-width: $sm-max-width) {
          border-color: $white;
        }
      }
    }
  }
}
