@import "@/styles/mixins";

.input {
  background: $pastel-1;
  padding: rem(5) 0 rem(1) rem(15);
  border-radius: 20px;

  img,
  svg {
    vertical-align: baseline;
  }

  :global(.ant-form-item) {
    margin-bottom: rem(0) !important;
  }

  :global(.ant-input) {
    font-size: rem(16);
    background: transparent !important;
    border-radius: 0px !important;
    height: rem(30) !important;

    @media (max-width: $lg-max-width) {
      height: rem(35) !important;
    }

    @media (max-width: $md-max-width) {
      height: rem(40) !important;
    }
  }

  :global(.ant-input-group-addon) {
    background: transparent !important;
    border: none;
  }


  :global(.ant-input-affix-wrapper) {
    background: transparent !important;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 0 !important;
  }

  :global(.ant-btn) {
    background: transparent !important;
    border: none;
  }

  @media (max-width: $sm-max-width) {
    :global(.ant-input-suffix) {
      display: none;
    }
  }
}

// dark theme
[data-theme="dark"] {
  .input {
    background: lighten($dark-gray-5, 5%);
  }  
}
