// Colors
$white: #fff;
$black: #0c0c1b;
$blue: #1940ed;
$blue-light: #719aff;
$blue-dark: #1a39c5;
$yellow: #ff0;
$orange: #faad15;
$red: #f5222e;
$pink: #fd3995;
$purple: #652eff;
$green: #3fcb9b;

// light grays
$gray-1: #f2f4f8;
$gray-2: #e8e8f0;
$gray-3: #dddfe2;
$gray-4: #9aa0b6;
$gray-5: #7b8199;
$gray-6: #595c97;

// dark grays
$dark-gray-1: #b8b8db;
$dark-gray-2: #8484ad;
$dark-gray-3: #55556d;
$dark-gray-4: #363647;
$dark-gray-5: #23232d;
$dark-gray-6: #0c0c1b;

// warm colors
$pastel-1: #F8F3F7;

$text: $black;
$border: $gray-3;
$dark-border: #3e3c4d;

// Accent colors
$default: $gray-4;
$primary: $blue;
$secondary: $gray-5;
$success: $green;
$info: $blue-light;
$warning: $orange;
$danger: $red;
$light: $gray-1;
$dark: $black;
$ant-blue: #40a9ff;
$ant-blue-dark: #444ba7;
$ant-red: #ff4d4f;

// Font Family
// $base-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
// 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
// 'Noto Color Emoji';
$base-font-family: "Inter", sans-serif;

// Font Size
$base-font-size: 18 !default;

// Shadows
$shadow: 0 0 40px -10px rgba($black, 0.2);
$shadow-2: 0 4px 38px 0 rgba($black, 0.11), 0 0 21px 0 rgba($black, 0.05);
$shadow-3: 0 0 100px -30px rgba(57, 55, 73, 0.3);
$shadow-4: 0 4px 10px 0 rgba($black, 0.03), 0 0 10px 0 rgba($black, 0.02);
$shadow-5: 0 0 40px -10px rgba($black, 0.4);
$shadow-ant: 0 10px 35px -5px rgba(0, 0, 0, 0.15);

// Convert value of rem() sass mixin function
@function rem($px, $base: $base-font-size) {
  @return #{calc(floor(calc($px/$base) * 100) / 100)}rem; // to REMs
  // @return #{$px}px; // to PX's
}

// Transitions
@mixin transition-bg() {
  transition: background 0.2s ease-in-out;
}
@mixin transition-color() {
  transition: color 0.05s ease-in-out;
}
@mixin transition-fast() {
  transition: all 0.05s ease-in-out;
}
@mixin transition-middle() {
  transition: all 0.1s ease-in-out;
}
@mixin transition-slow() {
  transition: all 0.2s ease-in-out;
}

// Responsive utils
$xxl-min-width: 1600px;
$xxl-max-width: 1599px;
$xl-min-width: 1200px;
$xl-max-width: 1199px;
$lg-min-width: 992px;
$lg-max-width: 991px;
$md-min-width: 768px;
$md-max-width: 767px;
$sm-min-width: 576px;
$sm-max-width: 575px;
