@import "@/styles/mixins";

.banner {
  margin-bottom: rem(30);
  display: block;

  :global(.ray__icon) {
    position: relative;
    top: 3px;
  }
  
  &Inner {
    position: relative;
    z-index: 1;
    text-align: center;
    background: $pastel-1;
    padding: rem(20) rem(20);
    border-radius: 12px;
  }

  &Confetti {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 12px;
    pointer-events: none;
  }
  
  &Text {
    position: relative;
    z-index: 2;
  }
}

// dark theme
[data-theme="dark"] {
  .banner {
    &Inner {
      background: #000;
    }
  }
}
