@import "@/styles/mixins";

.project {
  margin-bottom: rem(40);
  display: flex;
  padding: rem(20);
  border-radius: rem(16);
  border: 1px solid $border;

  @media (max-width: $sm-max-width) {
    flex-direction: column;
    margin-bottom: rem(80);
  }

  :global(.ray__icon) {
    svg {
      height: rem(16);
      position: relative;
      top: rem(2);
    }
  }

  &Image {
    width: rem(240);
    height: rem(240);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: rem(30);
    position: relative;

    @media (max-width: $sm-max-width) {
      margin-bottom: rem(20);
      width: auto;
      height: auto;
      max-width: none;
      margin-right: 0;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      border-radius: 100%;
    }

    &Count {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      background: $dark-gray-5;
      color: $white;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: rem(32);
      font-weight: 900;
      padding: rem(5) rem(10);
    }
  }

  &Info {
    flex-grow: 1;
  }

  &Label {
    font-size: rem(14);
    text-transform: uppercase;
  }

  &Vote {
    display: flex;
    padding: rem(8) 0;
    border-radius: 5px;
    color: $dark;
    line-height: 1;

    @media (max-width: $sm-max-width) {
      margin-left: 0;
    }

    > div {
      flex-grow: 1;
    }

    &Label {
      font-size: rem(14);
      text-transform: uppercase;
      display: block;
      margin-bottom: rem(5);
    }

    &Address {
      font-weight: 900;
      font-size: rem(21);
    }
  }
}

.share {
  padding: rem(60) rem(10) 0;
  margin-top: rem(40);
  border-top: 1px solid $border;
}

// dark theme
[data-theme="dark"] {
  .project {
    border-color: $dark-border;

    &Image {
      &Count {
        background: $white;
        color: $dark;
      }
    }
  }

  .share {
    border-top: 1px solid $dark-border;
  }
}
