@import "@/styles/mixins";

.footer {
  &Top {
    margin-bottom: rem(40);
    // padding-top: rem(50);
  }

  &Lists {
    :global(.ray__icon) {
      svg {
        * {
          fill: $blue !important;
        }
      }
    }
  }

  &Ray {
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    font-size: rem(18);
    color: $dark;

    &:hover {
      color: $blue;
    }

    svg {
      margin-right: rem(10);
      height: rem(24) !important;
      width: auto !important;
    }
  }

  &Cardano {
    display: inline-flex;
    margin-right: rem(5);
    position: relative;
    z-index: 1;
    top: rem(3);
    color: $dark;

    svg {
      height: rem(18) !important;
      width: auto !important;

      * {
        fill: blue;
      }
    }
  }

  &App {
    width: rem(40);
    height: rem(40);
    background: $dark;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 rem(10) rem(10) 0;
    border-radius: 8px;

    &:hover {
      background: lighten($dark, 10%);
    }

    svg {
      * {
        fill: $white !important;
      }
    }
  }

  &Testnet {
    position: fixed;
    z-index: 9999;
    top: 20%;
    right: 0;
    border-radius: 8px 0 0 8px;
    background: $danger;
    color: $white !important;
    padding: rem(5) rem(10);
  }

  &Faucet {
    position: fixed;
    z-index: 9999;
    top: calc(20% + 2.5rem);
    right: 0;
    border-radius: 8px 0 0 8px;
    background: $danger;
    color: $white !important;
    padding: rem(5) rem(10);
  }
}

// dark theme
[data-theme="dark"] {
}
