@font-face {
  font-family: 'Circular Local';
  font-weight: 400;
  font-style: normal;
  src: url("fonts/CircularStd-Book.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: 'Circular Local';
  font-weight: 700;
  font-style: normal;
  src: url("fonts/CircularStd-Bold.otf") format("opentype");
  font-display: swap;
}

/* @font-face {
  font-family: 'Circular Local';
  font-weight: 900;
  font-style: normal;
  src: url("fonts/CircularStd-Black.otf") format("opentype");
  font-display: swap;
} */