@import "@/styles/mixins";

.mintingForm {
  padding: rem(40) rem(30);
  border-radius: 12px;
  border: 1px solid $border;
  // background: $gray-1;
}

.restoreInput {
  position: relative;
  padding-top: rem(12);
}

.restoreError {
  position: absolute;
  left: 0;
  bottom: rem(-10);
  width: 100%;
}

.image {
  background: $white;
  border-radius: 8px;
  border: 1px solid $border;
  height: rem(200);
  overflow: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: rem(10);
  position: relative;
  z-index: 1;

  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 4px;
  }
}

.remove {
  position: absolute;
  z-index: 1;
  top: rem(10);
  left: rem(10);
  width: rem(30);
  height: rem(30);
  cursor: pointer;
  display: flex;
  align-content: center;
  justify-content: center;
  background: $gray-1;
  border-radius: 8px;
  @include transition-fast();

  &:hover {
    background: darken($gray-1, 3%);
  }
}

.faq {
  margin: 0;
  padding: 0;
  line-height: 1.7;

  li {
    padding: 0;
    margin: 0 rem(10) 0 0;
    display: inline;
    color: $gray-5;
  }
}

.asset {
  &Group {
    :global(.ant-input-number),
    :global(.ant-btn),
    :global(.ant-input-affix-wrapper) {
      border-radius: 0 !important;
    }

    :global(.ant-form-item:first-child) {
      :global(.ant-input-number),
      :global(.ant-btn),
      :global(.ant-input-affix-wrapper) {
        border-radius: 8px 0 0 8px !important;
      }
    }

    :global(.ant-form-item:last-child) {
      :global(.ant-input-number),
      :global(.ant-btn),
      :global(.ant-input-affix-wrapper) {
        border-radius: 0 8px 8px 0 !important;
      }
    }
  }

  &Key {
    width: 35%;
  }

  &Value {
    width: 65%;
  }

  &ValueShort {
    width: calc(65% - 30px);
  }

  &Remove {
    width: 30px;

    :global(.ant-btn) {
      width: 30px;
    }
  }
}

// dark theme
[data-theme="dark"] {
  .mintingForm {
    border: 1px solid $dark-border;
    // background: $dark-gray-6;
  }

  .image {
    background: $dark-gray-4;
    border-color: $dark-gray-3;
  }

  .remove {
    background: darken($dark-gray-3, 10%);

    &:hover {
      background: $dark-gray-3;
    }
  }
}
