@import "@/styles/mixins";

.ant {
  &-result {
    &-success .ant-result-icon > .anticon {
      color: $success;
    }

    &-subtitle {
      color: $gray-5;
      font-size: rem(16);
    }
  }

  &-alert {
    font-size: rem(16);
    border-radius: 8px;
  }

  &-form {
    font-size: rem(16);

    &-item {
      font-size: rem(16);
    }

    label {
      font-size: rem(16);
    }
  }

  &-input {
    font-size: rem(14);
    border-radius: 8px;

    &:hover,
    &:focus,
    &:active {
      border-color: $blue-light;
    }

    &-lg {
      font-size: rem(16);
    }

    &-affix-wrapper {
      padding: rem(4) rem(11);
      border-radius: 8px;

      &-lg {
        height: rem(40);
        padding: rem(6.5) rem(11);
      }
    }

    &-search {
      > .ant-input-group
        > .ant-input-group-addon:last-child
        .ant-input-search-button,
      > .ant-input-group > .ant-input-group-addon:last-child {
        border-radius: 0 8px 8px 0;
      }

      .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }

      &-large .ant-input-search-button {
        height: rem(40);
      }
    }

    &-number {
      border-radius: 8px;
      font-size: rem(16);

      &-lg {
        height: rem(40);
        input {
          height: rem(40);
          font-size: rem(16);
          padding: rem(6.5) rem(11);
        }
      }

      &-handler-wrap {
        border-radius: 0 8px 8px 0;
      }
    }
  }

  &-btn {
    border-radius: 8px;

    &-lg {
      font-size: rem(16);
      padding: rem(6.5) rem(15);
      height: rem(40);
    }

    &-primary {
      background: $blue;
      border-color: transparent;

      &:hover {
        background: $blue-light;
      }
    }

    &.ant-upload-list-item-card-actions-btn {
      background: transparent;
    }
  }

  &-message {
    svg {
      vertical-align: baseline;
    }

    &-notice-content {
      border-radius: 8px;
    }

    &-success .anticon {
      color: $success;
    }

    &-error .anticon {
      color: $danger;
    }
  }

  &-upload {

    &.ant-upload-drag {
      background: $white !important;
      border-radius: 8px;
    }

    &-list-item {
      &:hover {
        .ant-upload-list-item-info {
          background: transparent;
        }
      }
    }
  }

  &-tooltip {
    &-inner {
      border-radius: 8px;
    }
  }

  &-checkbox {
    &-wrapper {
      font-size: rem(16);
      color: $text;
    }
  }

  &-radio {
    &-wrapper {
      font-size: rem(16);
    }
  }

  &-popover {
    &-inner {
      border-radius: 8px;
    }
  }

  &-notification {
    &-notice {
      border-radius: 8px;
    }
  }

  &-table {
    background: none;
    font-size: rem(16);
    color: $dark;

    th {
      transition: none !important;
    }

    &-thead {
      > tr > th {
        background: transparent !important;
      }
    }

    &-tbody > tr.ant-table-placeholder > td {
      background: transparent !important;
      color: $dark-gray-2;

      svg {
        display: none;
      }
    }
  }

  &-modal {
    &-mask {
      background: rgba($pastel-1, 0.8) !important;
    }

    &-close-x {
      color: $gray-5;

      &:hover {
        color: $gray-3;
      }
    }

    &-content {
      border-radius: 12px !important;
      box-shadow: none;
    }

    &-header {
      background: transparent !important;
    }

    &-body {
      font-size: rem(16) !important;
      color: $black;
    }

    &-title {
      color: $black !important;
    }
  }
}

// dark theme
[data-theme="dark"] {
  .ant {
    &-form {
      color: $dark-gray-2;

      &-item {
        color: $dark-gray-2;
      }
    }

    &-input {
      background: $dark-gray-5 !important;
      border-color: $dark-gray-3;
      color: $white;

      &-clear-icon {
        color: $dark-gray-2 !important;

        &:hover {
          color: $dark-gray-3 !important;
        }
      }

      &-affix-wrapper {
        background: $dark-gray-5 !important;
        border-color: $dark-gray-3;

        &-disabled {
          opacity: 0.5;
        }
      }

      &-number {
        background: $dark-gray-5 !important;
        border-color: $dark-gray-3;
        color: $white;
        font-size: rem(14);

        @at-root {
          [data-theme="dark"] {
            .ant-form-item-has-error {
              .ant-input-number {
                border-color: $ant-red;
              }
            }
          }
        }

        &:hover {
          border-color: $ant-blue;
        }

        input {
          background: transparent !important;
          color: $white;
        }

        &-handler {
          background: $dark-gray-4;
          border-color: $dark-gray-3;

          svg {
            * {
              fill: $dark-gray-2;
            }
          }
        }
      }
    }

    &-radio-wrapper,
    &-checkbox-wrapper {
      color: $white;
    }

    &-modal {
      &-content {
        background: $dark-gray-5 !important;
      }

      &-header {
        border-color: darken($dark-gray-3, 15%);
      }

      &-body {
        color: $dark-gray-2 !important;
      }

      &-title {
        color: $dark-gray-2 !important;
      }

      &-mask {
        background: rgba($dark-gray-6, 0.9) !important;
      }
    }

    &-message {
      &-notice {
        &-content {
          color: $white;
          background: $dark-gray-4;
        }
      }
    }

    &-upload {
      background: transparent !important;
      border-color: $dark-gray-3;
      color: $white;

      &.ant-upload-drag {
        background: $dark-gray-5 !important;
      }

      &-text-icon .anticon {
        color: $dark-gray-2;
      }

      &-list {
        color: $white;
        &-item {
          &-info .anticon-loading .anticon,
          &-card-actions .anticon {
            color: $dark-gray-2;
          }
        }
      }
    }

    &-table {
      color: $dark-gray-2;
  
      td,
      th {
        border-bottom-color: $dark-border;
      }
  
      &-thead {
        > tr > th {
          background: transparent !important;
          color: $dark-gray-2;
  
          &.ant-table-column-has-sorters {
            &:hover {
              background: darken($dark-gray-3, 17%) !important;
            }
          }
        }
      }
  
      &-row {
        &:hover {
          > td {
            background: $dark-gray-4 !important;
          }
        }
      }

      &-wrapper {
        .ant-spin-container {
          &:after {
            background: $dark-gray-5 !important;
          }
        }
      }
    }

    &-pagination {
      &-item {
        color: $white;
        background: transparent;
        border-color: $dark-border;

        &-active,
        &:hover {
          border-color: $blue-light;
        }

        &-ellipsis {
          color: $white !important;
        }
      }

      &-item-link {
        color: $white;
        background: transparent;
        border-color: $dark-border;

        svg {
          position: relative;
          top: -2px;
        }

        &:hover {
          border-color: $blue-light;
        }
      }
    }
  }
}
