@import "@/styles/mixins";

.ray {
  &__breadcrumbs {
    margin-top: rem(-25);
    margin-bottom: rem(40);

    i {
      margin: 0 rem(7);
      color: $gray-3;
    }

    span {
      font-weight: bold;
    }
  }

  &__left {
    padding-left: rem(50);
    position: relative;

    @media (max-width: $md-max-width) {
      padding-left: rem(25);
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: rem(7);
      border-radius: 20px;
      background: $orange;
    }
  }

  &__icon {
    display: flex !important;
    align-items: center;

    svg {
      height: rem(18) !important;
      width: auto !important;

      * {
        fill: $dark;
      }
    }

    &--inline {
      display: inline-flex !important;
    }

    &--14 {
      svg {
        height: rem(14) !important;
      }
    }

    &--16 {
      svg {
        height: rem(16) !important;
      }
    }

    &--22 {
      svg {
        height: rem(22) !important;
      }
    }

    &--24 {
      svg {
        height: rem(24) !important;
      }
    }

    &--32 {
      svg {
        height: rem(32) !important;
      }
    }

    &--white {
      svg {
        * {
          fill: $white !important;
        }
      }
    }

    // @at-root {
    //   a:not(.ray__btn),
    //   .cursor-pointer {
    //     &:hover {
    //       .ray__icon {
    //         svg {
    //           * {
    //             fill: $blue;
    //           }
    //         }
    //       }
    //     }
    //   }
    // }
  }

  &__block {
    max-width: rem(1380);
    margin: 0 auto rem(80);
    padding: 0 rem(25);

    @media (max-width: $sm-max-width) {
      padding: rem(15);
    }
  }

  &__box {
    &--bg {
      border-radius: 8px;
      background: $white;
      padding: rem(40) rem(30);

      @media (max-width: $sm-max-width) {
        padding: rem(25);
      }
    }
  }

  &__line {
    height: 1px;
    background: $border;

    &--margin {
      margin: rem(25) 0;
    }
  }

  &__point {
    font-style: normal;
    display: inline-flex;
    margin-right: rem(3);
    align-items: center;
    justify-content: center;
    width: rem(20);
    height: rem(20);
    border-radius: 100%;
    border: 2px solid $black;
    font-weight: bold;
    font-size: rem(14);
    background: $black;
    color: $white;

    &--outline {
      background: transparent;
      color: $black;
    }
  }

  &__table {
    overflow: auto;
    white-space: nowrap;
  }

  &__ticker {
    display: inline-block;
    font-size: 83%;
    border: 1px solid $border;
    line-height: 120%;
    padding: rem(2) rem(5);
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: baseline;
  }

  &__btn {
    display: flex;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 rem(20);
    color: $white;
    background: $dark;
    height: rem(38);
    border: 1px solid transparent;
    font-size: rem(16);
    text-align: center;
    font-weight: 700;
    border-radius: 8px;
    border: 1px solid transparent !important;
    @include transition-middle();

    svg {
      height: rem(18) !important;
      width: auto !important;
      * {
        fill: $white;
      }
    }

    &:hover,
    &:focus,
    &:active {
      color: $white;
      background: lighten($dark, 10%);
      border: 1px solid transparent !important;
    }

    &[disabled] {
      background: transparent !important;
      border: 1px solid $border !important;
      color: $gray-5 !important;

      .ray__icon {
        svg {
          * {
            fill: $gray-5;
          }
        }
      }
    }

    &--round {
      border-radius: 100px;
    }

    &--small {
      height: rem(32);
      font-size: rem(14);
      font-weight: normal;

      @media (max-width: $lg-max-width) {
        height: rem(36);
      }

      @media (max-width: $md-max-width) {
        height: rem(40);
      }

      svg {
        height: rem(16) !important;
      }
    }

    &--clear {
      height: rem(40);
    }

    &--large {
      padding: 0 rem(40);
      font-size: rem(21);
    }

    &--extra {
      font-size: rem(21);
      height: rem(50) !important;
      padding-left: rem(30);
      padding-right: rem(30);
    }

    &--primary {
      background: $primary;

      &:hover,
      &:focus,
      &:active {
        background: lighten($primary, 5%);
      }
    }

    &--success {
      background: $success;

      &:hover,
      &:focus,
      &:active {
        background: lighten($success, 5%);
      }
    }

    &--orange {
      background: $orange;

      &:hover,
      &:focus,
      &:active {
        background: lighten($orange, 5%);
      }
    }

    &--transparent {
      color: $dark !important;
      background: transparent !important;
      border-color: $border !important;

      &:hover,
      &:focus,
      &:active {
        border-color: $primary !important;
        color: $primary !important;

        svg {
          * {
            fill: $primary;
          }
        }
      }

      svg {
        * {
          fill: $dark;
        }
      }
    }
  }
}

// dark theme
[data-theme="dark"] {
  .ray {
    &__breadcrumbs {
      i {
        color: $dark-gray-3;
      }
  
      span {
        color: $white;
      }
    }

    &__icon {
      svg {
        * {
          @include transition-fast();
          fill: $blue-light;
        }
      }
    }

    &__line {
      background: $dark-border;
    }

    &__ticker {
      border: 1px solid $dark-gray-3;
    }

    &__btn {
      color: $white !important;

      svg {
        height: rem(18) !important;
        width: auto !important;
        * {
          fill: $white !important;
        }
      }

      &[disabled] {
        background: $dark-gray-4 !important;
        color: $dark-gray-3 !important;
        border-color: transparent !important;
      }

      &--white {
        &[disabled] {
          background: transparent !important;
          border-color: rgba($border, 0.2) !important;
          color: $dark-gray-1 !important;
        }
      }

      &--orange {
        color: $dark !important;

        svg {
          * {
            fill: $dark !important;
          }
        }
      }

      &--success {
        svg {
          * {
            fill: $white !important;
          }
        }
      }

      &--transparent {
        border-color: $dark-gray-3 !important;

        svg {
          * {
            fill: $white !important;
          }
        }

        &:hover,
        &:focus,
        &:active {
          border-color: $dark-gray-3 !important;
          background-color: $dark-gray-4 !important;
        }
      }
    }

    &__point {
      border: 2px solid $dark-gray-2;
      background: $dark-gray-2;
      color: $dark;

      &--outline {
        background: transparent;
        color: $dark-gray-2;
      }
    }
  }
}
